.header {
    position: relative;
    background-color: beige;
    width: 100%;
    z-index: 1;
    padding: 20px 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

.header > .back-arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header > .back-arrow-container > .back-arrow {
    height: 10px;
    width: 10px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
    background-color: black;
    margin: 0px 20px
}

.menu {
    width: 33vw;
    min-width: 360px;
    background-color: white;
    color: grey;
    color: black;
    overflow-y: scroll;
    height: 100vh;
}

.menu > .header > .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8em;
    font-weight: 300;
    text-transform: uppercase;
}
  
.menu > .header > .title > .title1 {
    font-weight: 600;
}

.menu > .header > .title > .title2 {
    font-weight: 100;
    font-style: italic;
}

.menu > .header > .title > .subtitle {
    display: inline-block;
    margin-left: 8px;
    font-weight: 400;
}

.menu > .header > .title > .site-icon {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    margin-right: 12px;
}
  
.menu > .header > .mobile-icon-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    display: none;
}

.menu > .header > .mobile-icon-container > svg {
    width: 36px;
    height: 36px;
    color: #545353;
}

@media (max-width: 768px) {
    .menu {
        width: 100vw;
        transition: transform 0.3s ease-in-out;
        z-index: 2;
    }

    .menu.closed {
        transform: translateX(calc(-100% + 48px));
    }

    .menu > .header > .mobile-icon-container {
        display: block;
    }
}

