.data-view {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: black
}

.data-view > .title {
    font-size: 1.4em;
}

.block {
    margin-top: 16px;
}

.data-view > .subtitle {
    margin-bottom: 8px;
}

.authors > .content, .institutions > .content, .type > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: flex-start;
}

.authors > .content > div, .institutions > .content > div, .type > .content > div {
    margin: 8px;
    padding: 4px 16px;
    border-radius: 8px;
    background-color: Azure;
}

.video {
    position: absolute;
    background-color: black;
    border-radius: 12px;
    height: 66%;
    top: 2%;
    left: 35%;
    right: 2%;
    z-index: 100;
}

.video > iframe {
    border-radius: 12px;
    border: none;
}

.button-link {
    margin-top: 24px;
}

.button-link > a {
    display: inline-block;
    border: 3px solid Azure;
    background-color: Azure;
    border-radius: 8px;
    padding: 8px 32px;
    color: black;
    text-transform: uppercase;
}
