.data-view {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: black
}

.data-view > .title {
    font-size: 1.4em;
    margin-top: 16px;
    font-weight: 600;
    margin-bottom: -8px;
}

.block {
    margin-top: 16px;
}

.block  > .title {
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: 300;
  
  margin-top: 8px;
}

.data-view > .subtitle {
    margin-bottom: 8px;
}

.authors > .content, .institutions > .content, .type > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.type > .content > div {
    margin: 0 0 16px 0;
    padding: 4px 16px;
    border-radius: 8px;
    background-color: LightBlue;
}

.thumbnail {
    width: 100%;
    height: auto;
}

.video {
    position: absolute;
    background-color: black;
    border-radius: 12px;
    height: 66%;
    top: 2%;
    left: 35%;
    right: 2%;
    z-index: 100;
}

.video > iframe {
    border-radius: 12px;
    border: none;
}

.button-link {
    margin-top: 24px;
}

.button-link > a {
    display: inline-block;
    border: 3px solid LightBlue;
    background-color: LightBlue;
    border-radius: 8px;
    padding: 8px 32px;
    color: black;
    text-transform: uppercase;
}
