.data-view {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: black
}

.data-view > .title {
    font-size: 1.4em;
}


.authors > .content, .institutions > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.authors > .content > div, .institutions > .content > div {
    margin: 10px 20px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: Azure;
    border: 10px;
}

.video {
    position: absolute;
    background-color: black;
    border-radius: 12px;
    height: 50%;
    top: 2%;
    left: 35%;
    right: 2%;
}

.video > iframe {
    border-radius: 12px;
    border: none;
}

.type > .content {
    margin: 10px 20px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: Azure;
}