.App {
  text-align: center;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.canvas-container {
  display: grid;
}

.map-container {
  height: 100vh;
  width: 67vw;
  cursor: all-scroll !important;
}

@media (max-width: 768px) {
  .map-container {
    width: 100vw;
  }

  .canvas-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.map-container,
#canvasID {
  grid-area: 1/1
}

#canvasID {
  z-index: 1;
  pointer-events: none;
}

.callout-container {
  position: relative;
  z-index: 0;
}


.callout {
  border-radius: 20px;
  background-color: grey;
  color: white;
  padding: 10px;
  text-align:center;
  text-justify: inter-word;
  border: 1px solid white;
  cursor: pointer;
  pointer-events:initial !important
}

.callout:hover {
  background-color: antiquewhite;
  color: black
}

/* Slide Map */
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.screen {
  display: flex;
}

@keyframes expandWidth {
  from {
    width: 0px;
  }

  to {
    width: 300px;
  }
}