.classyList > .category > .content > .item {
    border-bottom: 0.2px solid grey;
}

.classyList > .category > .content > .item > p {
    padding: 10px 10px;
    margin: 0;
}

.classyList > .category > .header {
    padding: 5px 10px;
    font-weight: 500;
    font-size: 1.2em;
    padding-bottom: 10px;
    padding-top: 15px;
    display: flex;
}


.classyList > .category > .header > .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px
    /* width: 10px */
}

.classyList > .category > .header > .icon-container > .icon {
    width: 8px;
    height: 8px;
    padding: 5px;
    border-radius: 10px;
}

.classyList > .category > .header > .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-bottom: 4px;
}

.classyList > .category > .content > .item {
    overflow: hidden;
}

.classyList > .category > .content > .item > .item-preview {
    height: 0;
    transition: height 0.5s ease-in-out 0.2s;
}

.classyList > .category > .content > .item:hover > .item-preview {
    height: 240px;
}

.classyList > .category > .content > .item > .item-preview > .item-preview-background {
    height: 240px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}

.item-preview-background > .item-preview-container {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-self: flex-end;
    padding: 10px;
    position: relative;
    z-index: 1;
    align-items: flex-end;   
}

.item-preview-background > .item-preview-container > .item-preview-tag {
    color: white;
    text-transform: uppercase;
    margin: 0 0 4px 0;
}

.item-preview-background > .item-preview-container > .item-preview-button {
    background-color: transparent;
    border: 2px solid white;
    padding: 12px 20px;
    border-radius: 36px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.item-preview-background > .item-preview-container > .item-preview-button:hover {
    background-color: Azure;
    border: 2px solid Azure;
    color: black;
}

.item-preview-background > .item-preview-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.chevron {
    width: 3px;
    height: 3px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 12px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease 0.2s;
}

.classyList > .category > .content > .item:hover > p > .chevron {
    transform: rotate(45deg);
}

